body {
	background-color: #232323;
	color: white;
}

#container {
	max-width: 600px;
	margin: 0 auto;
}

.squares {
	background-color: green;
	width: 30%;
	padding-bottom: 30%;
	margin: 1.66%;
	float: left;
}